<head>

    <title>GuitarCzar - Products</title>
    <link rel="stylesheet" href="./bin/styles/products.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


</head>

<body>
    <div class="noModal ">
        <section class="mainHeader mainHeader__navigation animated slideInDown ">


            <section class="mainHeader mainHeader__left">
                <!--Logo-->
                <a href="/"> <img src="./img/guitarCzarLogo.png" alt="GuitarCzar Logo" class="logo"></a>


                <!--hamburger button-->
                <div class="hamburgerButton">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

            </section>

            <!------------------------------------------------------------------------------------------>
            <!------------------------------------------------------------------------------------------>

            <section class="mainHeader mainHeader__middle">

                <section class="mainHeader mainHeader__top">
                    <!--search bar-->
                    <input type="text" class="mainHeader mainheader__srchBar"
                        placeholder="Guitarras, Amplificadores, Bajos...">

                    <img src="./img/serchGlass.png" class="burguerGlass" alt="searchIcon">
                </section>


                <section class="mainHeader mainHeader__bottom">

                    <a href="/products?object=guitar" class="mainNav mainNav__link">Guitars</a>
                    <a href="/products?object=bass" class="mainNav mainNav__link">Basses</a>
                    <a href="/products?object=amp" class="mainNav mainNav__link">Amps</a>
                    <a href="/products?object=accessories" class="mainNav mainNav__link">Accessories</a>


                </section>

            </section>


            <!------------------------------------------------------------------------------------------>
            <!------------------------------------------------------------------------------------------>

            <section class="mainHeader mainHeader__right">
                <!--button -->
                <a href="#"> <img src="./img/headStock.png" alt="search button"
                        class="mainHeader mainHeader__searchButton">
                </a>
            </section>

            <!------------------------------------------------------------------------------------------>
            <!------------------------------------------------------------------------------------------>

        </section>
        <!--closes main header navigation-->




        <main class="products animated pulse">




            <div class=" contenedorCarrito">


                <div class="filters">


                    <input list="product" placeholder="Product" class="lista productFilter">

                    <datalist id="product">
                        <option value="Guitar">
                        <option value="Bass">
                        <option value="Amp">
                        <option value="Accessories"></option>
                    </datalist>

                    <input list="brands" placeholder="Brand" class="lista brandFilter">

                    <datalist id="brands">
                        <option value="Jackson">
                        <option value="Dean">
                        <option value="Fender">
                        <option value="Gibson">
                        <option value="Line6">
                        <option value="VOX">
                        <option value="D'Addarío">
                        <option value="JimDunlop">
                        <option value="Ibanez">
                        <option value="ErnieBall"></option>
                    </datalist>

                    <div class="searchBtn">SEARCH</div>

                </div>


                <img src="./img/fav2.png" class="favFilter">
                <a href="./cart"> <img src="./img/carrito.png" class="carrito"></a>
                <div class="contador animated"></div>


            </div>


            {{#each products}}



            <div class="productCard  animated fadeIn">

                <img class="corazon animated">
                <p class="_id">{{_id}}</p>
                <p class="object">{{object}}</p>
                <p class="descripcion"> {{des}} </p>
                <p class="fav">{{fav}}</p>

                <img class="productCard--image " src="./img/productos/thumbnails/{{image}}" alt="">

                <div class="productCard--info animated fadeInDown">

                    <a class="productCard--links">
                        <p class="productCard--brand">{{brand}} {{series}}</p>
                        <p class="productCard--reference">{{reference}}</p>
                        <p class="productCard--price">${{price}}</p>
                    </a>

                </div>
            </div>

            {{/each}}


        </main>
        <a href="#"> <img src="./img/up.png" class="up"></a>

        <footer class="section footer-classic context-dark bg-image pie" style="background:  #151222">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                        <div class="pr-xl-4"><a class="brand" href="#"><img class="brand-logo-light"
                                    src="./img/guitarCzarLogo.png" width="100px"></a>
                            <p>Since opening our store in 1993, Guitar Czar has been proudly serving the Utah music
                                community for over 25 years. </p>
                            <!-- Rights-->
                            <p class="rights"><span>©  </span><span
                                    class="copyright-year">2019</span><span> </span><span>Colombia</span><span>. </span><span>All
                                    Rights Reserved.</span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Contacts</h5>
                        <dl class="contact-list">
                            <dt>Address:</dt>
                            <dd>5979 S State Street
                                Salt Lake City
                                Utah 84107</dd>
                        </dl>
                        <dl class="contact-list">
                            <dt>E-mail:</dt>
                            <dd><a href="mailto:#">JuanDavidPF@gmail.com</a></dd>
                        </dl>
                        <dl class="contact-list">
                            <dt>Phone:</dt>
                            <dd><a href="tel:#">+57 3215864235</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <h5>Links</h5>
                        <ul class="nav-list">
                            <li><a href="/products?object=guitar">Guitars</a></li>
                            <li><a href="/products?object=bass">Basses</a></li>
                            <li><a href="/products?object=amp">Amps</a></li>
                            <li><a href="/products?object=accessories">Accesories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row no-gutters social-container">
                <div class="col"><a class="social-inner"
                        href="https://www.facebook.com/lml.JuanDavidPF.lml?ref=bookmarks"><span
                            class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
                <div class="col"><a class="social-inner" href="https://www.instagram.com/payanjd/"><span
                            class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
                <div class="col"><a class="social-inner" href="https://twitter.com/PFJuanDavid"><span
                            class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
                <div class="col"><a class="social-inner"
                        href="https://www.youtube.com/channel/UCAosNYf0C4wjXg7vMIAU8-A?view_as=subscriber"><span
                            class="icon mdi mdi-youtube-play"></span><span>Youtube</span></a></div>
            </div>
        </footer>

    </div>


    <section class="mainHeader mainHeader__middle double">

        <section class="mainHeader mainHeader__top">
            <!--search bar-->
            <input type="text" class="mainHeader mainheader__srchBar" placeholder="Guitarras, Amplificadores, Bajos...">

            <img src="./img/serchGlass.png" class="burguerGlass" alt="searchIcon">
        </section>


        <section class="mainHeader mainHeader__bottom">

            <a href="/products?object=guitar" class="mainNav mainNav__link">Guitars</a>
            <a href="/products?object=bass" class="mainNav mainNav__link">Basses</a>
            <a href="/products?object=amp" class="mainNav mainNav__link">Amps</a>
            <a href="/products?object=accessories" class="mainNav mainNav__link">Accessories</a>


        </section>

    </section>

    <div class="product--modalWrapper">
        <div class="product--modal">
            <h1 class="modalBrand"></h1>
            <h1 class="modalReference"></h1>

            <div class="info">

                <img class="infoImg">
                <p class="infoDes animated"></p>

            </div>

            <h1 class="modalPrice"></h1>

        </div>
    </div>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./bin/scripts/products.js"></script>
</body>